<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Contact Form</display-name>
  <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>com.contactform.servlet.ContactFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/contactform</url-pattern>
    </servlet-mapping>
</web-app>